.card {
  width: 100%;
  height: 25vw;
  margin: 2vh 0;
  border-radius: 1rem;
  transition: transform 0.1s ease-in-out;

  @mixin hover {
    &:hover {
      position: static;
      transform: scale(1.03);
    }
  }
}
