.box {
  padding: 0.5em;
  width: calc(100% / 5);
}

.card {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 1rem;
  transition: transform 0.1s ease-in-out;

  @mixin hover {
    &:hover {
      position: static;
      transform: scale(1.05);
    }
  }
}
